<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
</head>
<body>
   
 <!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
</head>
<body>



 <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/tv-duos" style="font-family:courier; font-size:100%;">TV Duos</a></li>
  <li class="divider"></li>
  <li><a href="/movie-duos" style="font-family:courier; font-size:100%;">Movie Duos</a></li>
</ul>
<nav>
  <div class="nav-wrapper black">
    <a href="/" class="brand-logo" style="font-family:courier; font-size:100%;">My App</a>
    <ul id"nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about-me" style="font-family:courier; font-size:100%;">About Me</a></li>
      <li><a href="/past-collabs" style="font-family:courier; font-size:100%;">Past Collabs</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" style="font-family:courier; font-size:100%;">More<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
 
     
     <div class="container">
</div>

<script>
    $(".dropdown-trigger").dropdown({hover:false});
</script>
</body>
 
     
     <div class="container">
        <h1 style="font-family:courier; text-align:center;font-size:500%;">About</h1>
        <p style= "font-family:courier; text-align:center; font-size:150%; margin-right: 1%; "> This app allows users to create random song collaborations that currently don't exist and maybe
        get collaborations that you've never thought of. This can help those who regularly make their own mashups and get 
        new ideas of what two people they should put into a mashup. Artists can also use this song to find future collaborators for their songs
        to try out new voices they're not used to.</p>
        <div style="display:flex">
            <img src="https://i.ytimg.com/vi/SQsjd0_ctYw/maxresdefault.jpg"  style="float: left; width: 58%; height:58%;   ">
            <img src="http://www.breatheheavy.com/wp-content/uploads/2017/04/halsey-weeknd-collab.jpg" style="float: left; width: 51%; height:51%;  ">
        </div>
</div>

