<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
</head>
<body>


 <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/tv-duos" style="font-family:courier; font-size:100%;">TV Duos</a></li>
  <li class="divider"></li>
  <li><a href="/movie-duos" style="font-family:courier; font-size:100%;">Movie Duos</a></li>
</ul>
<nav>
  <div class="nav-wrapper black">
    <a href="/" class="brand-logo" style="font-family:courier; font-size:100%;">My App</a>
    <ul id"nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about-me" style="font-family:courier; font-size:100%;">About Me</a></li>
      <li><a href="/past-collabs" style="font-family:courier; font-size:100%;">Past Collabs</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" style="font-family:courier; font-size:100%;">More<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
 
     
     <div class="container">
</div>

<script>
    $(".dropdown-trigger").dropdown({hover:false});
</script>
</body>

 <div class="container">
        <h3 style="font-family:courier; text-align:center;"> Some Movie Duos from the past</h3>
    <div style="display: flex; flex-direction: column"> 
        
    <div>
        <p style="font-family:courier; font-size:150%;">1. La La Land - Ryan Gosling & Emma Stone 
        <img src="https://www.whatsonstage.com/s/wos-photos-production/121101.jpg?_sm_byp=iVVTQtStDsFNTQ4j"style="display:block; margin: 6 auto" width="50%" height="50%"></p>
    </div>

    <div>
        <p style="text-align:right; font-family:courier; font-size:150%;"> 2. Wolf of Wall Street - Leonardo Dicaprio & Margot Robbie 
        <img src = "https://i.pinimg.com/originals/3d/e1/00/3de10048c2d55085d0a4a384eae9587b.jpg?_sm_byp=iVVTQtStDsFNTQ4j"style="display:block; margin: 6 auto" width="50%" height="50%" align="right"> </p>
    </div>
  
 <div>
<p style="font-family:courier; font-size:150%;">3. Batman V Superman - Ben Affleck & Henry Cavill 
<img src="https://i.ytimg.com/vi/j3N1BesW24g/maxresdefault.jpg"style="display:block; margin: 6 auto" width="50%" height="50%"></p>
</div>

<div>
<p style="text-align:right; font-family:courier; font-size:150%;">4. Wonder Woman - Gal Gadot & Chris Pine 
<img src="https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fhiddenremote.com%2Ffiles%2F2016%2F04%2Fwonder-woman-steve-trevor-1001688.jpg&w=850&h=560&c=sc&_sm_byp=iVVtvfMJqvRtVQL7"style="display:block; margin: 6 auto" width="50%" height="50%" align="right"></p>
</div>

<div>
<p style="font-family:courier; font-size:150%;">5. Suicide Squad - Jared Leto & Margot Robbie 
<img src="https://imgix.bustle.com/uploads/image/2017/8/24/e595c3fd-49f6-4576-b613-345c6e7e4634-752f1ccd9ee88a46fbe04674e9ec7b09.jpg?_sm_byp=iVVtvfMJqvRtVQL7" style="display:block; margin: 6 auto" width="50%" height="50%"></p>
</div>

<div>
<p style="text-align:right; font-family:courier; font-size:145%;">6.Captain America: The Winter Soldier- Chris Evans & Scarlett Johansson 
<img src="https://i.pinimg.com/originals/f8/1a/03/f81a033e1489ded7782835e58d3d4381.jpg?_sm_byp=iVVtvfMJqvRtVQL7"style="display:block; margin: 6 auto" width="50%" height="50%" align="right"></p>
</div>

<div>
<p style="font-family:courier; font-size:150%;">7. The Hunger Games Trilogy - Jennifer Lawrence & Josh Hutcherson
<img src="http://pixel.nymag.com/imgs/daily/vulture/2013/11/20/20-catching-fire-2.w750.h560.2x.jpg?_sm_byp=iVVtvfMJqvRtVQL7" style="display:block; margin: 6 auto" width="50%" height="50%"></p>
</div>

<div>
<p style="text-align:right; font-family:courier; font-size:145%;">8.The Dark Knight Rises - Christian Bale & Anne Hathaway 
<img src="https://static.comicvine.com/uploads/original/11124/111245128/4917375-5560386281-48187.png?_sm_byp=iVVtvfMJqvRtVQL7" style="display:block; margin: 6 auto" width="60%" height="60%" align="right"> </p>
</div>

<div>
    <p style="font-family:courier; font-size:150%;">9. Jennifer's Body - Megan Fox & Amanda Seyfried 
    <img src="http://www.undertheradarmag.com/uploads/review_images/JB-113.jpg?_sm_byp=iVVtvfMJqvRtVQL7" style="display:block; margin: 6 auto" width="60%" height="60%"></p>
</div>

<div>
    <p style="text-align:right; font-family:courier; font-size:145%;">10. Mean Girls - Rachel McAdams & Lindsay Lohan 
    <img src="https://s2.r29static.com//bin/public/0a9/0,0,2000,1050/x,80/1517257/image.jpg" style="display:block; margin: 6 auto" width="60%" height="60%" align="right"> </p>
</div>

</div>